body{
    background-color: white;
    text-align: center;
    color:green;
}
#f{
    margin-top: 35vh;
    font-size: large;
    font-weight: bold;
}
input{
    width: 200px;
    height: 25px;
    font-size: large;
} 
h2{color: crimson;}